body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#category, #title {
    text-align: center;
}
#category {
    margin-top: -60px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 100px;
    position: relative;
    }

#post{
    padding: 20px;
    text-align: left;
    color: #5c7345;
    background-color: white;
    position: relative;
    font-size: 20px;
}

#postcontainer{
    border-style: solid;
    border-color: black;
    border: 1px solid grey;
    border-radius: 0.375em;

}

#comment_container{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

/* #username {
    position: absolute;
    top: 10px;
    right: 10px;
}
 */

#delete {
    width: 60px;
    height: 60px;
    right: 85px;
    bottom: -10px;
    position: absolute;
    /* background-color: white; */
    border: none;
}

#delete_img, #like_img, #dislike_img {
    width: 30px;
    height: 30px;
    /* right: 85px;
    bottom: -30px; */
    /* position: absolute; */
}

#like {
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: -10px;
    position: absolute;
    /* background-color: white; */
    border: none;
}

#dislike {
    width: 60px;
    height: 60px;
    right: -45px;
    bottom: -10px;
    position: absolute;
    /* background-color: white; */
    border: none;
}

#likes {
    position: absolute;
    top: 10px;
    right: 10px;
}

#dislikes {
    position: absolute;
    top: 30px;
    right: 10px;
}

#main-container{
    position: relative;
}

#addcomments{
    position: sticky;
    /* width: 100%; */
    bottom: 3px;
    text-align: center;
    background-color: #5c7345;
    padding: 10px;
    border-radius: 0.375em;
}

#comments{
    width: 80%;
    border-radius: 25px;
    border: 2px solid #5c7345;
    padding: 20px; 
}

#send{
    width: 30px;
    height: 30px;
}

button{
    border-radius: 30%;
    border: 1px solid;
    margin-right: 40px;
}

#no-comments {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 90px;
}

#abouttopic {
    border: none;
    border-radius: 0.375em;
    position: absolute;
    top: -50px;
    right: -10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #5c7345;
    color: white;
    padding: 10px 15px;
}

#abouttopic:hover {
    background-color: #444;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 20px 16px;
    background-color: #5c7345;
    color: white;
}

.modal-header h2 {
    margin: auto;
}

#topic_desc {
    padding: 2px 16px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}