body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

#post_container {
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}

#button_create_post {
    position: relative;
    margin-top: 20px;
}

#create_post {
    position: absolute;
    font-size: 20px;
    margin-top: 20px;
    bottom: -40px;
    cursor: pointer;
    background-color: #5c7345;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 0.375em;
}

#create_post:hover {
    background-color: #444;
}

#header {
    margin-top: 50px;
}

#upload_form {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 20px;
}


#requirements{
    font-size:0.7rem;
    font-style:italic;
    margin-bottom: 10px;
}

