body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: antiquewhite;  */
  }

#post {
  padding: 20px;
  width: 80%;
  margin-top: 10px;
  text-align: left;
  color: #5c7345;
  background-color: white;
  border: 1px solid grey;
  border-radius: 0.375em;
}

#post a {
  color: #5c7345;
}


#createPost {
  position: absolute;
  right: 30px;
  top: 100px;
  font-size: 20px;
  cursor: pointer;
  background-color: #5c7345;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 0.375rem;
}

#createPost:hover {
  background-color: #444;
}

#createPost a:hover {
  color: white;
}

#main_search {
  transition: margin-left .5s;
  padding: 16px;
  margin-top: 5px;
  text-align: center;
}

#plus {
  width: 20px;
  height: 20px;
}

a {
  text-decoration: none;
  color: white;
}

#category {
  text-align: center;
  margin-top: 50px;
}

#find_out_more { 
  text-align: center;
  color: grey;
}

#about {
  width: 40%;
  float: right;
  margin-right: 20px;
  /* text-align: justify; */
}

#postimage_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#post_image {
  width: 50%;
  height: 300px;
  float: left;
}

