body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#post {
align-self:center;
width: 100%;
color: #5c7345;
background-color: white;
border: 1px solid grey;
border-radius: 0.375em;
padding-left: 20px;
padding-right: 20px;
}

#post a {
color: #5c7345;
}

#createPost {
font-size: 20px;
cursor: pointer;
background-color: #5c7345;
color: white;
padding: 10px 10px;
border: none;
border-radius: 0.375rem;
}

#createPost:hover {
background-color: #444;
}

#createPost a:hover {
color: white;
}

#plus {
width: 20px;
height: 20px;
}

a {
text-decoration: none;
color: white;
}

#category {
text-align: center;
margin-top: 50px;
}

#find_out_more { 
text-align: center;
color: grey;
}

.sidebar-design{
background-color: #5C7345;
color: white;
margin-bottom: 1rem;
}

.filter-div{
margin-top: 1rem;
margin-bottom: 1rem;
color:white;
}

.link-item{
color: white;
font-size:1.2rem;
}

.link-item:hover{
  background-color: white;
  color: #5C7345;
  text-decoration:none;
  padding: 0.5rem;
}

