body {
    color: #5C7345;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.button {
    text-align: center;
}

.input {
    background-color: #D8EAC7;
    border-radius: 10px;
}

.fixed-left {
    position: fixed;
    left: 0;
    z-index: 1030;
}

.contentSection {
    transition: margin-left 0.5s, font-size 0.5s;
    margin-top: 50px;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 30px;
}

.logOutbtn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    background-color: #5c7345;
    color: white;
    padding: 10px 15px;
    border-radius: 0.375rem;
    border: 0px;
}

.logOutbtn:hover {
    background-color: #444;
}

.radio {
    font-size: 15px;
}