body {
    color: #5C7345;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.col-transition {
    transition: width 0.5s ease-in-out;
}

.alignment {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.other_alignment {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
}

.custom_hr {
    margin-top: 10px
}

.square {
    width: 75px;
    height: 75px;
    margin-left: 20px;
}

.details {
    margin-bottom: 0px;
}

.bold {
    font-weight: bolder;
}

.price_alignment {
    margin-right: 30px;
}

#post {
    margin-top: 50px;
}

.text {
    color: #5C7345;
    font-family: 'Times New Roman', Times, serif;
}

.button {
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
    background-color: #5C7345;
    color: white;
    font-weight: bolder;
}

.button:hover {
    background-color: #444;
    color: white;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
}

.pic {
    width:75px;
}

.btwn_posts {
    margin-top: 20px;
}

/* FOR THE YOUR PURCHASES PAGE */

.top-box{
    border: 1px solid #5C7345;
    padding:13px;
    background-color: #5C7345;
    color:white;
   
}

.ord-num{
    font-weight:bold;
    font-size:1.5em;
}

.date{
    font-style:italic;
    font-size:0.8em;

}

.order-det-box{
    border: 1px solid #5C7345;
    padding-top:15px;

}

.seller-info{
    border-width: 0 1px 0px 1px; /* top right bottom left */
    border-style: solid;
    border-color: #5C7345;
    padding:7px;
}

.seller-name{
    font-style:italic;
}


.img-container{
    margin:10px;
}

.img-container img{
    width:150px;
    height:150px;
}

.item-name{
    margin-left:15px;
    font-size: 1.2em;;
}

.item-qty{
    margin-left:15px;
    font-size: 0.8em;
    font-style:italic;
}

.item-price{
    margin-left:15px;
    font-size: 0.8em;
    font-weight:bold;
    bottom:0;
}

.bottom-box{
    border-width: 0 1px 1px 1px; /* top right bottom left */
    border-style: solid;
    border-color: #5C7345;
    padding:7px;
    font-size:1.2em;
    right:0;
    font-weight:bold;
    
}

.pickup-text{
    margin-left:5px;
    font-style:italic;
    /* font-size:0.8em; */
    text-align:center;
}

.delivery-text{
    margin-left:5px;
    font-style:italic;
    /* font-size:0.8em; */
    text-align:center;
}