<!DOCTYPE html>

<head>
    <Title>Homepage</Title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <!-- Item CSS -->
    <link rel="stylesheet" href="css/item.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Navbar JS & CSS -->
    <script src="js/navbar.js"></script>
    <link rel="stylesheet" href="css/navbar.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <script>
        createNavbarGreen();
    </script>
    <br><br><br><br>
    <span id="item_information">
        <div class="row justify-content-center gx-5">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="bg-white p-4">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div v-for="(photo, index) in item.photos" :key="index"
                                :class="{ 'carousel-item': true, 'active': index === activeIndex }">
                                <img class="car-img d-block w-100" :src="photo">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-md-6 col-lg-5">
                <div class="bg-white p-4">
                    <span class="item-name">{{item.name}}</span><br>
                    <span class="short-desc">{{item.shortdesc}}</span><br>
                    <div class="review-summary mt-2">
                        <span v-if="get_number_of_reviews() == 0">No reviews yet.</span>
                        <span v-else>Average rating is {{get_rating()}}, based on
                            {{get_number_of_reviews()}}.</span><br>
                    </div>
                    <span v-if="item.quantity != 999" class="quantity-left">Quantity Left: {{item.quantity}}</span>
                    <hr class="my-4">
                    <div class="long-desc">
                        {{item.longdesc}}
                    </div><br>
                    <div class="quantity-control">
                        <button @click="decrementQuantity" class="quantity-btn">-</button>
                        <span class="quantity">{{ quantity }}</span>
                        <button @click="incrementQuantity" class="quantity-btn">+</button>
                    </div>
                    <button v-if="!same_user" @click="add_to_cart" type="button" id="atc_btn_item" class="btn atc-btn  mt-4 w-100">Add to Cart - S${{item.price}}</button>
                    <button @click="redirect_login" type="button" id="error_btn" class="btn error-btn mt-4 w-100">You must be logged in to purchase</button>
                    <div class="extra-btn w-100 d-flex justify-content-between">
                    <button v-if="same_user" @click="edit_item" type="button" id="edit_btn" class="btn edit-btn mt-4 w-25 me-4">Edit Item</button>
                    <button v-if="same_user" @click="delete_item" type="button" id="delete_btn" class="btn delete-btn mt-4 w-25">Delete Item</button>
                </div>
            </div>

        </div>
        <!-- <hr class="m-4"> -->
            <div class="header-reviews my-4 pt-3">
                <marquee direction="right">REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;REVIEWS&nbsp;&nbsp;&nbsp;</marquee>
            </div>
            <!-- <div class="container-fluid">
                <hr class="mx-4">
            </div> -->
            <div v-if="get_number_of_reviews() != 0" v-for="review in reviews">
                <div class="row justify-content-center">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="bg-white p-4 h-100">
                    <div class="pb-3">
                        <span class="reviewer-name">{{review.reviewer}}</span><br>
                        <hr class="my-2 w-75">
                        <div class="reviewer-rating">Rating: {{review.rating}}</div><br>
                        <div class="date">{{convert_to_date(review.date)}}</div>
                    </div>
                </div>
            </div>
                <div class="col-12 col-md-8 col-lg-7">
                    <div class="bg-white p-4 h-100">
                    <div class="left-field">
                        <div class="review-title">{{review.title}}</div>
                        <div class="review-content">{{review.desc}}</div>
                    </div>
                </div>
            </div>
            </div>
            <br>
            </div>
            <div v-else>
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-lg-10 col-md-8 col-12">
                    <div class="bg-white w-100 p-4">
                        No reviews yet.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    </span>
    <span id="review_form">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-md-8 col-12">
            <div v-if="is_logged_in" class="if-review">
                <div v-if="same_user == false" class="bg-white p-4">
                <h2 class="add-review-header">Add a Review</h2>
                <form>
                <label for="title">Title</label><br>
                <input class="w-100" type="text" id="title" v-model="review_title" required><br>

                <label class="mt-3" for="rating">Rating</label>
                <input class="w-100" type="number" id="rating" min="1" max="5" v-model="review_rating" required><br>
                
                <label class="mt-3" for="description">Description</label>
                <textarea class="w-100" id="description" v-model="review_desc" required></textarea><br>
                
                <button class="submit-review-btn w-100 mb-4" @click="submit_review($event)">Submit Review</button>
                </form>
                </div>
                <div v-else class="bg-white p-4">
                You cannot leave a review for your own item.
                </div>
            </div>
            <div v-else class="mb-5">
                <div class="bg-white w-100 p-4">
                Please <a href="login.html">log in</a> to leave a review.
                </div>
            </div>
        </div>
    </div>
</span>

<!-- Bootstrap Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Item JS -->
<script type="module" src="js/firebase_item.js" defer></script>
</body>

</html>