<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Purchases</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <!-- J Query -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- navbar -->
    <script src="js/navbar.js"></script>

    <!-- navbar css -->
    <link rel="stylesheet" href="css/navbar.css">

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- js -->
    <script type="module" src="./js/profile_purchases.js"></script>

    <!-- filter bar -->
    <script src="./js/filterbar.js"></script>

    <!-- filter bar css -->
    <link rel="stylesheet" href="css/filterbar.css">

    <!-- external stylesheet -->
    <link rel="stylesheet" href="css/profile2.css">

</head>

<body>
    <script>
        createNavbarGreen();
        createfilterbar_profile();
    </script>

    <span id="purchases_listing">
        <div id="main" class="container mt-5">
            <div id="post" class="container-fluid col-transition">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="pt-5 pb-5 mb-4 header-marketplace"><span id="header-mkt">MY PURCHASES</span></p>
                    </div>
                </div>
                <div v-if="orders.length == 0" class="row d-flex justify-content-center">
                    <div class="col-12 d-flex justify-content-center">
                        <p class="pt-5 pb-5 mb-4 header-marketplace">You have no purchases yet!</p>
                    </div>
                </div>
                <div v-else>
                <div v-for="order in orders" class="row mb-5">
                    <div class="col-12 col-md-10 col-lg-12 justify-content-center">
                        <div class="w-100 top-box">
                            <div class="ord-num">
                                Order No. {{order.orderid}}
                            </div>
                            <div class="date">
                                Date: {{convert_to_date(order.date)}}
                            </div>
                        </div>
                        <div v-for="order_det in order.orderdetails" class="w-100">
                            <div class="w-100 seller-info d-flex justify-content-between">
                                <div class="seller-name">
                                    @{{order_det.item_owner_name}}
                    <div v-for="order in orders" class="row mb-5">
                        <div class="col-12 col-md-10 col-lg-12 justify-content-center">
                            <div class="w-100 top-box">
                                <div class="ord-num">
                                    Order No. {{order.orderid}}
                                </div>
                                <div class="date">
                                    Date: {{convert_to_date(order.date)}}
                                </div>
                            </div>
                            <div v-for="order_det in order.orderdetails" class="w-100">
                                <div class="w-100 seller-info d-flex justify-content-between">
                                    <div class="seller-name">
                                        @{{order_det.item_owner_name}}
                                    </div>
                                    <div class="status">
                                        <div v-if="order_det.status == 'pending delivery'" class="delivery-text">
                                            Seller is yet to dispatch your order
                                        </div>
                                        <div v-if="order_det.status == 'pending pickup'" class="pickup-text">
                                            Please pick up your order at
                                            <b>{{order_det.pickup_location}}</b>
                                            on <b>{{convert_to_date(order_det.pickup_date)}}</b>
                                        </div>
                                        <div v-if="order_det.status == 'dispatched'" class="arriving-text">
                                            Order arriving on {{convert_to_date(order_det.delivery_date)}}
                                        </div>
                                        <div v-if="order_det.status == 'delivered'" class="delivered-text">
                                            Order arriving on {{convert_to_date(order_det.delivery_date)}}
                                        </div>
                                        <div v-if="order_det.status == 'picked up'" class="pickedup-text">
                                            Order arriving on {{convert_to_date(order_det.delivery_date)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="order-det-box d-flex">
                                    <div class="img-container">
                                        <img :src="order_det.item_image" alt="">
                                    </div>
                                    <div class="item-info">
                                        <div class="item-name">
                                            {{order_det.itemname}}
                                        </div>
                                        <div class="item-qty">
                                            Quantity Ordered: {{order_det.quantity}}
                                        </div>
                                        <div class="item-price">
                                            Price: ${{order_det.price}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-det-box d-flex">
                                <div class="img-container">
                                    <img :src="order_det.item_image" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="item-name">
                                        {{order_det.itemname}}
                                    </div>
                                    <div class="item-qty">
                                        Quantity Ordered: {{order_det.quantity}}
                                    </div>
                                    <div class="item-price">
                                        Price: ${{order_det.price}}
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="w-100 bottom-box d-flex justify-content-end">
                                <div class="total-price">
                                    Order Total: ${{order.total}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </span>
    <!-- <div class="row d-flex justify-content-center">
            <div id="post" class="col-md-12 col-transition">
                <div class="card">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="circle"><img src="images/seller1.png"></div>
                            <h5 class="text alignment">soaps_for_days</h5>
                        </div>
                        <div class="text alignment">Order in transit</div>
                    </div>
                    <hr class="custom_hr">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="square"><img class="pic" src="images/soap.png"></div>
                            <div class="d-block">
                                <p class="text other_alignment details bold">Sustainably produced soaps</p>
                                <p class="text other_alignment details">homemade by me using sustainably sourced
                                    products</p>
                                <p class="text other_alignment details">qty: 3</p>
                            </div>
                        </div>
                        <div class="text price_alignment">$10</div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start other_alignment justify-content-between">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn button">Buy Again</button>
                            <button type="button" class="btn button">Shop rating</button>
                        </div>
                        <p class="text alignment">Order total: $30</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center btwn_posts" >
            <div id="post2" class="col-md-12 col-transition">
                <div class="card">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="circle"><img src="images/seller2.png"></div>
                            <h5 class="text alignment">bracelet_buddies</h5>
                        </div>
                        <div class="text alignment">Order complete</div>
                    </div>
                    <hr class="custom_hr">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="square"><img class="pic" src="images/bracelet1.png"></div>
                            <div class="d-block">
                                <p class="text other_alignment details bold">Handmade friendship bracelets</p>
                                <p class="text other_alignment details">buy one for you and your friend this halloween!</p>
                                <p class="text other_alignment details">qty: 2</p>
                            </div>
                        </div>
                        <div class="text price_alignment">$8</div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="square"><img class="pic" src="images/bracelet2.png"></div>
                            <div class="d-block">
                                <p class="text other_alignment details bold">Name friendship bracelets</p>
                                <p class="text other_alignment details">customise your friendship bracelets by writing your name!</p>
                                <p class="text other_alignment details">qty: 2</p>
                            </div>
                        </div>
                        <div class="text price_alignment">$15</div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start other_alignment justify-content-between">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn button">Buy Again</button>
                            <button type="button" class="btn button">Shop rating</button>
                        </div>
                        <p class="text alignment">Order total: $46</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>